.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* min-height: 100px; */
}
.logo {
    width: 80px;
}
.nav-options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2rem;
    border-collapse: collapse;
    font-size: inherit;
}
.nav-options li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 10px;
    color: white;
    font-size: inherit;
}

.container{
    width: 100%;
    height: 300px;
    max-height: 10%;
    background-image: url("Concert\ Hall.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}
  
.overlay{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0rem;
}
header{
    background-color: #003057;
}

main h2 {
    margin-left: 15px;
}
main {
    min-height: 50px;
}
.VideoButton {
    display: block;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: lightgray;
}
.VideoButton span {
    color: black;
}
.VideoButton:hover {
    background-color: hsl(216, 2%, 45%);
}
.AudioPlayer {
    max-width: 500px;
}

audio {
    min-width: 150px;
    width: 30%;
    margin-left: 5%;
}

table {
    width: 95%;
    margin: 5px;
    border: black solid 2px;
    border-collapse: collapse;
    border-radius: 3px;
}
#Calendar {
    max-width: 600px;
}
legend {
    margin: 5px;
    max-width: 590px;
    font-size: 1.2rem;
    text-align: center;
    border: #00203a solid 3px;
}
td, th {
    border: black solid 1px;
}
td>br {
    background-color: white;
}
#Calendar td:hover, #Calendar th:hover {
    background-color: hsl(210, 2%, 75%);
}
.DataRow {
    height: 2.5em;
}

#AboutText {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    margin-left: 10%;
    margin-right: 20%;
}
#AboutText::first-letter {
    font-size: 150%;
}
#Copyright {
    margin-left: 10%;
    color: darkgray;
}

#ConcertIntroText {
    margin-left: 0.8em;
    padding: 0 0.3em;
    max-width: 1000px;
}
#EDITEDtext {
    color: hsl(0, 0%, 25%);
}

footer {
    margin-left: 0.8em;
    padding: 0 0.3em;
}

.ConcertText{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 0.8em;
    margin-top: 0.5rem;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 0.5em;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #ececec;
    background-color: lightgray;
}

.IndexConcertBox:link, .IndexConcertBox:visited {
    display: block;
    color: black;
}
.DatabaseButton:link, .DatabaseButton:visited {
    color: black;
    background-color: var(--secondary-color-050);
    margin: 10px;
    padding: 5px;
    border: black solid 2px;
    border-radius: 10px;
}
.DatabaseButton:hover {
    background-color: var(--secondary-color-100);
}   
a:link, a:visited {
    color: white;
    text-decoration: none;
}
.ConcertText:hover {
    background-color: var(--gray-color-050);
}

#GoogleForm:link {
    color: #00203a;
    text-decoration: underline;
}
#GoogleForm:hover {
    color: hsl(207, 100%, 28%);
}

.DatabaseList {
    list-style-type: none;
    width: 90%;
}
.DatabaseList .NE {
    background-color: var(--primary-orange-900);
}
.DatabaseList .TC {
    background-color: var(--primary-blue-900);
}
.DatabaseList li {
    padding: 4px;
    border: black solid 1px;
    border-collapse: collapse;
}

.NotesBox {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: hsl(0, 62%, 81%);
}

@media (width <= 450){
    .navbar {
        height: 20%;
    }
    #Calendar {
        width: 90%;
        margin: 0 5px;
    }
}