body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#redBox {
  padding: 10px;
  margin: 5px;
  background-color: rgb(247, 181, 181);
}

#redBox p {
  padding: 0;
  margin: 0;
}

#redBox ul {
  max-width: 90%;
}

#greenBox {
  background-color: rgb(208, 255, 208);
  height: 600px;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#greenBox iframe {
  border: 3px solid black;
  border-radius: 5px;
}

#blueBox {
  padding: 10px;
  margin: 5px;
  background-color: hsl(239, 63%, 81%);
}

#blueBox p {
  max-width: 90%;
}