* {
    margin: 0;
    padding: 0;
}
header {
    height: 15%;
    max-height: 100px;
    min-height: 50px;
    background-color: lightgray;
    border-bottom: 2px gray solid;
    display: flex;
    align-items: center;
}
header img {
    height: 40%;
    max-height: 50px;
    display: flex;
    justify-content: flex-start;
}
#BusinessName {
    font-size: 24pt;
    font-family: 'Labrada', serif;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}